body {
    background-color: darkgreen;
  }
  
  #text {
    background-color: lightgray;
    color: black;
    padding: .5em;
    border-radius: 8px;
  }
  
  #game {
    max-width: 80%;
    max-height: 20%;
    background-color: #ffffff;
    color: #ffffff;
    margin: 2em auto 0em;
    padding: .75em;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  #controls,
  #stats {
    border-radius: 8px;
    padding: .5em;
    color: black;
  }

  #controls {
    display: flex;
    justify-content: space-between;
  }

  #stats {
    display: flex;
    justify-content: right;
  }
  
  .stat {
    padding-right: 1em;
  }
  
  button {
    cursor: pointer;
    color: black;
    width: 25%;
    background-color: yellow;
    background-image: linear-gradient(lightyellow, yellow);
    border: 1px solid black;
    border-radius: 3px;
  }